body {
  --purple: #3A1772;
  --white: #F1E9DA;
  --muted-white: #8f8f8f;
}

.about-card {
  max-height: 20em;
  max-width: 100%;
  width: auto
}
.portfolio-card {
  width: 20em;
  max-height: 100%;
  max-width: 100%;
  display: block;
  padding: 10px;
}
.portfolio-img-container {
  height: 20em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divTechs {
  height: 4em;
}
.card-img-container {
  width: 100%;
}
.cardCol {
  margin-bottom: 30px;
}

.card-title {
  font-size: 2em;
}

.card-subtitle {
  font-size: 1.5em;
}
.card {
  font-size: 1em;
}
.row .card-radius {
  border-radius: 5px;
  border: 1px dashed var(--white);
}

.card-project-description {
  font-size: 2rem;
  margin-top: 1rem;
}

.card .card-body .techBadge {
  background-color: var(--white);
  color: var(--purple) !important;
}

.card {
  font-size: 1.5em;
}

.card-top-radius {
  border-radius: 5px 5px 0 0 ;
  border: 1px dashed var(--white);
  border-bottom: none;
}

.card-bottom-radius {
  border-radius: 0 0 5px 5px;
  border: 1px dashed var(--white);
  border-top: none;
}

.pageBar {
  background-color: var(--purple);
  color: #F1E9DA;
}

.pageBar a {
  color: var(--white);
}

.mainCard {
  background-color: rgba(0,0,0,0);
  color: var(--white);

}

.miniCard {
  background-color: var(--purple);
  color: var(--white);
}

.contactCard {
  background-color: var(--purple);
  color: var(--white);
}

.text-muted {
  color: var(--muted-white) !important;
}

.miniCard a {
  color: var(--white);
}

.codingBackground {
  background-image: url("./Assets/Images/codingbackground_1200.png");
}

.btn-bg-0 {
  background-color: #A22C29;
}

.btn-bg-1 {
  background-color: #FF8427;
}

.btn-bg-2 {
  background-color: #FFC800;
  color: #333;
}

.btn-bg-3 {
  background-color: #4D8B31;
}

.btn-bg-4 {
  background-color: #3185FC;
}

.btn-bg-5 {
  background-color: var(--purple);
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-bg-6 {
  background-color: magenta;
}

.no-bullets {
  list-style-type: none;
}

.no-bullets span {
  line-height: 1.5em;
}
.no-bullets i {
  font-size: 1.5em;
}

footer {
  border-top: 1px solid var(--white);
}

nav {
  border-bottom: 1px solid var(--white);
}

.prettyFont {
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
  .card-title {
    font-size: 2em;
  }
  .card-subtitle {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) { 

.codingBackground {
  background-image: url("./Assets/Images/codingbackground.png");
}

.card-project-description {
  font-size: 0.8rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-subtitle {
  font-size: 1em;
}
.card {
  font-size: 1.1em;
}
.divTechs {
  height: 2em;
}

/* Animation Delays */
.delay-250ms {
  animation-delay: 250ms;
}

.delay-500ms {
  animation-delay: 500ms;
}

.delay-750ms {
  animation-delay: 750ms;
}

.delay-1000ms {
  animation-delay: 1000ms;
}

.delay-1250ms {
  animation-delay: 1250ms;
}

.delay-1500ms {
  animation-delay: 1500ms;
}

.delay-1750ms {
  animation-delay: 1750ms;
}

.delay-2000ms {
  animation-delay: 2000ms;
}
}